$viewDivWidth: 50%;
$formWidth: 60%;
$formHeight: 60%;

$carousel-max-width: 30rem;
$carousel-bg-color: #333;

$spacing-small: 1rem;
$spacing-medium: 2rem;

$dropdown-default-width: 20%;
$dropdown-small-screen-width: 100%;

$aspect-ratio: 16 / 9;



.viewDiv {
  display: inline-block;
  align-content: center;
  width: $viewDivWidth;
  margin: 0 auto;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  width: 100%;
  max-width: $carousel-max-width;
  height: auto;
  aspect-ratio: $aspect-ratio;
  background-color: $carousel-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: $spacing-small;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

form {
  width: $formWidth;
  height: $formHeight;
}

#filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-small;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-medium;
}

.filterButtons {
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
  justify-content: center;
  align-items: center;
  margin: auto;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.filterControls {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-small;
  justify-content: center;
  width: 100%;

  @media (min-width: 768px) {
    justify-content: space-evenly;
  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.dropdownSize {
  width: $dropdown-default-width;

  @media (max-width: 576px) {
    width: $dropdown-small-screen-width;
  }
}
